Repository openslide/openslide: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoptr, deny-functions

autoptr:
  name: Check for g_auto* declarations without initializers
  language: pygrep
  entry: (g_auto\(|g_autoptr\(|g_autofree )(?!.+=)

deny-functions:
  name: Check for calls to prohibited functions
  language: pygrep
  ...

zeiss: consistently pack raw structs
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-functions

zeiss: minor error-checking improvements
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-functions

zeiss: fix byte order conversions
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-functions

zeiss: process all XPath results via XML decoder helpers
  src/openslide-decode-xml.c
  src/openslide-decode-xml.h
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-functions

pre-commit: forbid more numeric parsing functions
  .pre-commit-config.yaml
Due: none

zeiss: reorder source file
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-functions

zeiss: merge load_dir_position() into caller
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-functions

zeiss: build level hash and array simultaneously in create_levels()
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-functions

zeiss: merge init_range_grids() into create_levels()
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-functions

zeiss: merge add_one_associated_image() into caller
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-functions

meson: update libdicom
  subprojects/libdicom.wrap
Due: none

workflows: fix Windows build from tag
  .github/workflows/c.yaml
Due: none

workflows: move staging directory for docs artifact
  .github/workflows/c.yaml
Due: none

workflows: use output variable for docroot
  .github/workflows/c.yaml
Due: none

workflows: automatically create draft GitHub release when tagged
  .github/ISSUE_TEMPLATE/release.md
  .github/workflows/c.yaml
Due: none

workflows: install Requests with pip on macOS
  .github/workflows/c.yaml
Due: none

pre-commit: check all C sources for prohibited funcs without wrappers
  .pre-commit-config.yaml
  test/parallel.c
  test/profile.c
  tools/slidetool-image.c
Due: autoptr

pre-commit: prohibit strerror()
  .pre-commit-config.yaml
  tools/slidetool-icc.c
  tools/slidetool-util.c
Due: autoptr

pre-commit: prohibit libc memory allocation
  .pre-commit-config.yaml
Due: none

pre-commit: prohibit glib slice allocator
  .pre-commit-config.yaml
Due: none

zeiss: move add_associated_images()
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-functions

zeiss: drop associated_image.file_type
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-functions

zeiss: use "zeiss-czi" as format name
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-functions

zeiss: drop stray use of fseek + fread
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-functions

PPT-856: adds huron support to openslide
  src/openslide-private.h
  src/openslide-vendor-huron.c
  src/openslide.c
Due: autoptr, deny-functions

ported huron code back to older codebase
  Makefile.am
  src/openslide-vendor-huron.c
Due: autoptr, deny-functions

meson: forbid macOS universal builds
  meson.build
Due: none

add testing notes and container config
  .devcontainer/devcontainer.json
  .vscode/launch.json
  Dockerfile
  readme-proscia.txt
Due: none

Added support for Huron TIFF format.
  src/meson.build
  src/openslide-decode-jp2k.c
  src/openslide-decode-tiff.c
  src/openslide-private.h
  src/openslide-vendor-huron.c
  src/openslide.c
Due: autoptr, deny-functions

Added missing newline at end of openslide-vendor-huron.c to match C standard and fix upstream pre-commit check failure.
  src/openslide-vendor-huron.c
Due: autoptr, deny-functions

workflows: pin to Fedora 39 to avoid ld segfault during sanitize
  .github/workflows/c.yaml
Due: none

misc/imhex/mirax-position: support StitchingIntensityLevel
  misc/imhex/mirax-position.hexpat
Due: none

misc/imhex: switch from #include to new import statement
  misc/imhex/hamamatsu-vms-opt.hexpat
  misc/imhex/mirax-index.hexpat
  misc/imhex/mirax-position.hexpat
Due: none

tests: update frozen archive
  test/cases/frozen.yaml
Due: none

Revert "meson: add a private option to filter out non-OpenSlide symbols"
  meson.build
  meson_options.txt
  src/meson.build
Due: none

Revert "workflows: pin to Fedora 39 to avoid ld segfault during sanitize"
  .github/workflows/c.yaml
Due: none

workflows: link sanitize run with lld on Fedora to work around segfault
  .github/workflows/c.yaml
Due: none

Revert "workflows: link sanitize run with lld on Fedora to work around segfault"
  .github/workflows/c.yaml
Due: none

workflows: install binutils from Fedora updates-testing
  .github/workflows/c.yaml
Due: none

misc/imhex: add pattern for VMU NGR files
  misc/imhex/hamamatsu-vmu-ngr.hexpat
Due: none

Path conditions:
  autoptr: any of: \.(c|h)$, but not: ^(COPYING\.LESSER|subprojects/.*)$
  deny-functions: any of: ^src/openslide and \.(c|h)$ and not (^(COPYING\.LESSER|subprojects/.*)$)
