Repository openslide/openslide: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoptr, deny-prohibited, deny-wrapped

Path conditions:
  autoptr: any of: \.(c|h)$, but not: ^(COPYING\.LESSER|subprojects/.*)$
  deny-prohibited: any of: \.(c|h)$ and not (^misc/) and not (^(COPYING\.LESSER|subprojects/.*)$)
  deny-wrapped: any of: ^src/openslide and \.(c|h)$ and not (^(COPYING\.LESSER|subprojects/.*)$)

dicom: drop unused level lock
  src/openslide-vendor-dicom.c
Due: autoptr, deny-prohibited, deny-wrapped

add samplesperpixel failure
  src/openslide-vendor-dicom.c
Due: autoptr, deny-prohibited, deny-wrapped

fix error messages in tests
  test/cases/dicom-level-bad-samplesperpixel/config.yaml
  test/cases/dicom-primary-bad-samplesperpixel/config.yaml
Due: none

ignore levels with a duplicate SOPInstanceUID
  src/openslide-vendor-dicom.c
Due: autoptr, deny-prohibited, deny-wrapped

workflows: build with --fatal-meson-warnings on Fedora
  .github/workflows/c.yaml
Due: none

Drop support for Ubuntu 20.04
  .github/workflows/c.yaml
  meson.build
  src/meson.build
Due: none

Drop support for Python 3.8
  .github/workflows/c.yaml
  .pre-commit-config.yaml
  pyproject.toml
  test/driver.in
Due: none

Sync LGPLv2.1 text with FSF; remove FSF mailing address
  COPYING.LESSER
  misc/mosaic-coords.py
Due: none

test SOPInstanceUIDOfConcatenationSource
  src/openslide-vendor-dicom.c
Due: autoptr, deny-prohibited, deny-wrapped

remove two trailing spaces
  src/openslide-vendor-dicom.c
Due: autoptr, deny-prohibited, deny-wrapped

Add support for kfb files
  src/meson.build
  src/openslide-private.h
  src/openslide-vendor-kfbio.c
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

remove trailing whitespace
  src/meson.build
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

Fix offset Signed-off-by: Tadej Svetina <tadej.svetina@gmail.com>
  src/openslide-vendor-kfbio.c
Due: autoptr, deny-prohibited, deny-wrapped

Some fixes that enable correct parsing of files larger than 2GB/4GB
  src/openslide-vendor-kfbio.c
Due: autoptr, deny-prohibited, deny-wrapped

workflows: add EL 10
  .github/workflows/c.yaml
Due: none

Disable OpenMP for multithreading for now
  src/openslide-grid.c
Due: autoptr, deny-prohibited, deny-wrapped

workflows: silence Homebrew annotations about pre-existing packages
  .github/workflows/c.yaml
Due: none

{gdkpixbuf,jpeg,png}: remove unnecessary filename arguments from API
  src/openslide-decode-gdkpixbuf.c
  src/openslide-decode-gdkpixbuf.h
  src/openslide-decode-jpeg.c
  src/openslide-decode-jpeg.h
  src/openslide-decode-png.c
  src/openslide-decode-png.h
  src/openslide-vendor-mirax.c
Due: autoptr, deny-prohibited, deny-wrapped

Implement our own BMP loader; drop gdk-pixbuf dependency
  .github/workflows/c.yaml
  README.md
  meson.build
  src/meson.build
  src/openslide-decode-bmp.c
  src/openslide-decode-bmp.h
  src/openslide-decode-gdkpixbuf.c
  src/openslide-decode-gdkpixbuf.h
  src/openslide-vendor-mirax.c
  src/openslide-vendor-synthetic.c
  test/cases/mirax-bmp-bad-depth/config.yaml
  test/cases/mirax-bmp-bad-height/config.yaml
  test/cases/mirax-bmp-bad-image-format/config.yaml
  test/cases/mirax-bmp-bad-image/config.yaml
  test/cases/mirax-bmp-truncated-image-2/Index.dat.xdelta
  test/cases/mirax-bmp-truncated-image-2/config.yaml
  test/cases/mirax-bmp-truncated-image/config.yaml
Due: autoptr, deny-prohibited, deny-wrapped

fix: update error handling in TIFF reading functions
  src/openslide-decode-tifflike.c
  src/openslide-vendor-huron.c
  src/openslide-vendor-leica.c
Due: autoptr, deny-prohibited, deny-wrapped

Drop our copy of libjpeg's jpeg_mem_src
  README.md
  meson.build
  src/openslide-decode-jpeg.c
  src/openslide-decode-jpeg.h
  src/openslide-decode-tiff.c
  src/openslide-jdatasrc.c
  src/openslide-vendor-hamamatsu.c
  test/clang.supp
Due: autoptr, deny-prohibited, deny-wrapped

jpeg: update comment
  src/openslide-decode-jpeg.c
Due: autoptr, deny-prohibited, deny-wrapped

Move openslide-hash.h into openslide-private.h
  src/openslide-decode-tiff.c
  src/openslide-decode-tiff.h
  src/openslide-decode-tifflike.h
  src/openslide-hash.c
  src/openslide-hash.h
  src/openslide-private.h
  src/openslide-vendor-dicom.c
  src/openslide-vendor-hamamatsu.c
  src/openslide-vendor-mirax.c
  src/openslide-vendor-sakura.c
Due: autoptr, deny-prohibited, deny-wrapped

Switch header include guards to #pragma once
  common/openslide-common.h
  src/openslide-decode-bmp.h
  src/openslide-decode-dicom.h
  src/openslide-decode-jp2k.h
  src/openslide-decode-jpeg.h
  src/openslide-decode-png.h
  src/openslide-decode-sqlite.h
  src/openslide-decode-tiff.h
  src/openslide-decode-tifflike.h
  src/openslide-decode-xml.h
  src/openslide-error.h
  src/openslide-features.h
  src/openslide-private.h
  src/openslide.h
  tools/slidetool.h
Due: autoptr, deny-prohibited, deny-wrapped

test/driver: drop TestCaseT in favor of concrete type
  test/driver.in
Due: none

test/driver: move S3 upload within file
  test/driver.in
Due: none

test/driver: refactor S3 upload into class
  test/driver.in
Due: none

test/driver: add OpenSlide to HTTP User-Agent
  test/driver.in
  test/meson.build
Due: none

test/extended: move assoc image and ICC reading into helper functions
  test/extended.c
Due: autoptr, deny-prohibited

workflows: drop diffutils
  .github/workflows/c.yaml
Due: none

tools: set up OPENSLIDE_DEBUG in Windows-compatible way
  tools/slidetool-test.c
Due: autoptr, deny-prohibited

test/driver: use raw strings for substituted paths
  test/driver.in
Due: none

workflows: add Windows build using Windows runner and vcpkg
  .github/workflows/c.yaml
  .github/workflows/vcpkg-cache.yml
  scripts/vcpkg-install.sh
Due: none

Silence function deprecation warnings from Windows headers
  meson.build
Due: none

Don't include unistd.h on Windows
  common/openslide-common-fd.c
  test/extended.c
  test/try_open.c
  tools/slidetool-util.c
Due: autoptr, deny-prohibited
