Repository openslide/openslide: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoptr, deny-prohibited, deny-wrapped

autoptr:
  name: Check for g_auto* declarations without initializers
  language: pygrep
  entry: (g_auto\(|g_autoptr\(|g_autofree )(?!.+=)

deny-prohibited:
  name: Check for calls to prohibited functions
  language: pygrep
  ...

deny-wrapped:
  name: Check for calls to wrapped functions
  language: pygrep
  ...

scripts/vcpkg-prune: paginate list fetches
  scripts/vcpkg-prune.py
Due: none

test/extended: run opacity assertions in chunks
  test/cases/frozen.yaml
  test/extended.c
Due: autoptr, deny-prohibited

test/driver: ignore redundant casts on pyfuse3 3.5.0
  .pre-commit-config.yaml
  test/driver.py
Due: none

pre-commit: update versions
  .pre-commit-config.yaml
Due: none

meson: re-ignore uthash wrap
  subprojects/.gitignore
Due: none

test/cases: switch to updated DICOM ICT/RCT samples
  test/cases/dicom-dual-bigtiff-file-extension.3/config.yaml
  test/cases/dicom-level-bad-jp2k-ict-transfersyntaxuid.2/config.yaml
  test/cases/dicom-level-bad-jp2k-ict-transfersyntaxuid.2/img_3.dcm.xdelta
  test/cases/dicom-level-bad-jp2k-ict-transfersyntaxuid/img_3.dcm.xdelta
  test/cases/dicom-tiled-full-jp2k-ict.2/config.yaml
  test/cases/dicom-tiled-full-jp2k-rct.2/config.yaml
  test/cases/mosaic.ini
  test/cases/slides.yaml
Due: none

dicom: support YBR_FULL and YBR_FULL_422
  src/openslide-vendor-dicom.c
  test/cases/dicom-level-bad-jp2k-ybr-full-422-transfersyntaxuid/DCM_3.dcm.xdelta
  test/cases/dicom-level-bad-jp2k-ybr-full-422-transfersyntaxuid/config.yaml
  test/cases/dicom-tiled-full-jp2k-ybr-full-422/config.yaml
  test/cases/mosaic.ini
  test/cases/slides.yaml
Due: autoptr, deny-prohibited, deny-wrapped

dicom: handle incorrect TIFFToDicom PhotometricInterpretation for 33003
  src/openslide-vendor-dicom.c
  test/cases/dicom-tiled-full-jp2k-legacy-pixelmed-33003/config.yaml
  test/cases/mosaic.ini
  test/cases/slides.yaml
Due: autoptr, deny-prohibited, deny-wrapped

tests: update frozen archive
  test/cases/frozen.yaml
Due: none

workflows: update for Python 3.15
  .github/workflows/c.yaml
  .github/workflows/vcpkg-prune.yml
Due: none

Path conditions:
  autoptr: any of: \.(c|h)$, but not: ^(COPYING\.LESSER|subprojects/.*)$
  deny-prohibited: any of: \.(c|h)$ and not (^misc/) and not (^(COPYING\.LESSER|subprojects/.*)$)
  deny-wrapped: any of: ^src/openslide and \.(c|h)$ and not (^(COPYING\.LESSER|subprojects/.*)$)
