Repository openslide/openslide: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoptr, deny-prohibited, deny-wrapped

Path conditions:
  autoptr: any of: \.(c|h)$, but not: ^(COPYING\.LESSER|subprojects/.*)$
  deny-prohibited: any of: \.(c|h)$ and not (^misc/) and not (^(COPYING\.LESSER|subprojects/.*)$)
  deny-wrapped: any of: ^src/openslide and \.(c|h)$ and not (^(COPYING\.LESSER|subprojects/.*)$)

Drop off_t and forbid its use
  .pre-commit-config.yaml
  src/openslide-decode-bmp.c
  src/openslide-file.c
  src/openslide-private.h
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-prohibited, deny-wrapped

Use _fseeki64()/_ftelli64() on non-MinGW Windows
  meson.build
  src/openslide-file.c
Due: autoptr, deny-prohibited, deny-wrapped

Drop ssize_t and forbid its use
  .pre-commit-config.yaml
  src/openslide-vendor-synthetic.c
Due: autoptr, deny-prohibited, deny-wrapped

tifflike: replace overflow check with g_size_checked_mul()
  src/openslide-decode-tifflike.c
Due: autoptr, deny-prohibited, deny-wrapped

test: use Sleep() on Windows
  test/extended.c
Due: autoptr, deny-prohibited

openslide-dll.rc.in: switch to Unicode
  src/meson.build
  src/openslide-dll.rc.in
Due: none

tools: open output files using Unicode paths on Windows
  tools/slidetool-util.c
Due: autoptr, deny-prohibited

workflows: add Windows clang-cl build
  .github/workflows/c.yaml
Due: none

README: document GCC/Clang requirement
  README.md
Due: none

workflows: sort library dependencies alphabetically
  .github/workflows/c.yaml
Due: none

workflows: sync vcpkg ports before installing dependencies
  scripts/vcpkg-install.sh
Due: none

meson: remove redundant declaration of features as 'auto'
  meson_options.txt
Due: none

common: drop unnecessary ifdef
  common/openslide-common.h
Due: autoptr, deny-prohibited

file: simplify fopen() wrapper
  src/openslide-file.c
Due: autoptr, deny-prohibited, deny-wrapped

common: add fopen() wrapper
  .pre-commit-config.yaml
  common/meson.build
  common/openslide-common-file.c
  common/openslide-common.h
  src/make-tables.c
  tools/slidetool-util.c
Due: autoptr, deny-prohibited

test/extended: use g_usleep() compatibility wrapper
  test/extended.c
Due: autoptr, deny-prohibited

Add and use macro defining GDestroyNotify wrapper function
  .pre-commit-config.yaml
  src/openslide-cache.c
  src/openslide-decode-tifflike.c
  src/openslide-grid.c
  src/openslide-private.h
  src/openslide-vendor-aperio.c
  src/openslide-vendor-dicom.c
  src/openslide-vendor-generic-tiff.c
  src/openslide-vendor-hamamatsu.c
  src/openslide-vendor-leica.c
  src/openslide-vendor-mirax.c
  src/openslide-vendor-philips-tiff.c
  src/openslide-vendor-sakura.c
  src/openslide-vendor-trestle.c
  src/openslide-vendor-ventana.c
  src/openslide-vendor-zeiss.c
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

add support for reversible JP2K DICOM
  src/openslide-vendor-dicom.c
Due: autoptr, deny-prohibited, deny-wrapped

meson: support SQLite on Windows without pkg-config
  meson.build
Due: none

meson: use `lib` library prefix when building on Windows
  src/meson.build
Due: none

fix(PPT-1293): prevent double un-ref GLIB error on open of svs
  src/openslide-vendor-aperio.c
Due: autoptr, deny-prohibited, deny-wrapped

fix: remove unused GHashTable auto-pointer for thumbnail properties
  src/openslide-vendor-aperio.c
Due: autoptr, deny-prohibited, deny-wrapped

pre-commit: update versions
  .pre-commit-config.yaml
Due: none

Autogenerate Markdown file with release checklist link
  .github/maintainer/README.md
  .github/maintainer/mkmaintainer.py
  .github/maintainer/release.md
  .pre-commit-config.yaml
Due: none

gitattributes: exclude some tooling from source archive
  .gitattributes
Due: none

workflows: bump action versions
  .github/workflows/c.yaml
  .github/workflows/update-check.yml
  .github/workflows/vcpkg-cache.yml
Due: none

workflows: open-code pre-commit check
  .github/workflows/c.yaml
Due: none

workflows: add Debian 13
  .github/workflows/c.yaml
Due: none

workflows: use friendly names for build jobs
  .github/workflows/c.yaml
Due: none

workflows: switch back to windows-latest
  .github/workflows/c.yaml
  .github/workflows/vcpkg-cache.yml
Due: none

PPT-1288/PPT-1327 MOTIC-ROCHE: Shelving waiting for more test images
  src/openslide-decode-jpeg.c
  src/openslide-vendor-dicom.c
Due: autoptr, deny-prohibited, deny-wrapped

fix(PPT-1288): Ignores Width/Height exceptions (Roche & Motic) and transforms pixels for Motic
  src/openslide-decode-jpeg.c
  src/openslide-vendor-dicom.c
Due: autoptr, deny-prohibited, deny-wrapped

Apply Ventana LEFT direction patch for VarunaPoC
  src/openslide-vendor-ventana.c
Due: autoptr, deny-prohibited, deny-wrapped

Add Support for Motic-mds
  meson.build
  src/meson.build
  src/openslide-decode-gsf.c
  src/openslide-decode-gsf.h
  src/openslide-decode-jpeg.c
  src/openslide-decode-jpeg.h
  src/openslide-private.h
  src/openslide-vendor-motic.c
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

tiff: fix tiff_read_region() w/h signedness
  src/openslide-decode-tiff.c
Due: autoptr, deny-prohibited, deny-wrapped

tiff: drop unnecessary memset when TIFFRGBAImageGet fails
  src/openslide-decode-tiff.c
Due: autoptr, deny-prohibited, deny-wrapped

Doxyfile: update for Doxygen 1.14.0
  doc/Doxyfile.in
Due: none

workflows: bump artifact actions
  .github/workflows/c.yaml
Due: none

workflows: bump Python to 3.14
  .github/workflows/c.yaml
Due: none
