Repository openslide/openslide: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoptr, deny-prohibited, deny-wrapped

autoptr:
  name: Check for g_auto* declarations without initializers
  language: pygrep
  entry: (g_auto\(|g_autoptr\(|g_autofree )(?!.+=)

deny-prohibited:
  name: Check for calls to prohibited functions
  language: pygrep
  ...

deny-wrapped:
  name: Check for calls to wrapped functions
  language: pygrep
  ...

Add Support for KFBio-kfb
  src/meson.build
  src/openslide-decode-jpeg.c
  src/openslide-decode-jpeg.h
  src/openslide-private.h
  src/openslide-vendor-kfbio.c
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

Doxyfile: update for Doxygen 1.10.0
  doc/Doxyfile.in
Due: none

workflows: run Fedora job before other build jobs
  .github/workflows/c.yaml
Due: none

added wraps, modified meson
  Dockerfile
  emscripten-cross.txt
  meson.build
  src/meson.build
  subprojects/.gitignore
  subprojects/cairo.wrap
  subprojects/expat.wrap
  subprojects/fontconfig.wrap
  subprojects/freetype2.wrap
  subprojects/gdk-pixbuf.wrap
  subprojects/glib.wrap
  subprojects/gperf.wrap
  subprojects/gvdb.wrap
  subprojects/libffi.wrap
  subprojects/libjpeg.wrap
  subprojects/libopenjp2.wrap
  subprojects/libpng.wrap
  subprojects/libtiff4.wrap
  subprojects/libxml2.wrap
  subprojects/packagefiles/glib-emscripten.patch
  subprojects/packagefiles/glib-function-pointers.patch
  subprojects/packagefiles/libffi-emscripten.patch
  subprojects/packagefiles/shared-mime-info.patch
  subprojects/pixman.wrap
  subprojects/shared-mime-info.wrap
  subprojects/sqlite3.wrap
  subprojects/zlib.wrap
  subprojects/zstd.wrap
Due: none

Add Support for Motic-mdsx
  src/base64.c
  src/base64.h
  src/meson.build
  src/openslide-decode-xml.c
  src/openslide-decode-xml.h
  src/openslide-private.h
  src/openslide-vendor-motic.c
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

Add Support for Motic-mdsx
  src/base64.c
  src/base64.h
  src/meson.build
  src/openslide-decode-jpeg.c
  src/openslide-decode-jpeg.h
  src/openslide-decode-xml.c
  src/openslide-decode-xml.h
  src/openslide-private.h
  src/openslide-vendor-motic.c
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

Add Support for Motic-mdsx
  src/meson.build
  src/openslide-decode-base64.c
  src/openslide-decode-base64.h
  src/openslide-decode-jpeg.c
  src/openslide-decode-jpeg.h
  src/openslide-decode-xml.c
  src/openslide-decode-xml.h
  src/openslide-private.h
  src/openslide-vendor-motic.c
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

Fix some mistakes
  src/openslide-vendor-kfbio.c
Due: autoptr, deny-prohibited, deny-wrapped

Add Support for InteMedic-tron
  meson.build
  src/meson.build
  src/openslide-decode-aes.c
  src/openslide-decode-aes.h
  src/openslide-decode-jpeg.c
  src/openslide-decode-jpeg.h
  src/openslide-decode-pbkdf2.c
  src/openslide-decode-pbkdf2.h
  src/openslide-grid.c
  src/openslide-private.h
  src/openslide-util.c
  src/openslide-vendor-intemedic.c
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

Prevent use of dangerous or deprecated functions
  src/openslide-decode-pbkdf2.c
Due: autoptr, deny-prohibited, deny-wrapped

Prevent use of dangerous or deprecated functions
  src/openslide-vendor-intemedic.c
Due: autoptr, deny-prohibited, deny-wrapped

pre-commit: forbid stpcpy, strcat, strcpy, sscanf
  .pre-commit-config.yaml
Due: none

pre-commit: update versions
  .pre-commit-config.yaml
Due: none

Use base64 decode function from glib
  src/meson.build
  src/openslide-decode-base64.c
  src/openslide-decode-base64.h
  src/openslide-vendor-motic.c
Due: autoptr, deny-prohibited, deny-wrapped

Blocks should not have their opening braces on a separate line
  src/openslide-decode-jpeg.c
  src/openslide-decode-jpeg.h
  src/openslide-vendor-kfbio.c
Due: autoptr, deny-prohibited, deny-wrapped

workflows: drop save-always from actions/cache invocation
  .github/workflows/c.yaml
Due: none

test/driver: use type annotations from pyfuse3 3.4.0
  .github/workflows/c.yaml
  .pre-commit-config.yaml
  test/driver.in
Due: none

test/synth: use child setup function to set OPENSLIDE_DEBUG
  test/synth.c
Due: autoptr, deny-prohibited

test/synth: rename temporary error variable
  test/synth.c
Due: autoptr, deny-prohibited

test/synth: fail on unexpected last argument
  test/synth.c
Due: autoptr, deny-prohibited

test/synth: move to `slidetool test deps`
  test/meson.build
  tools/meson.build
  tools/slidetool-test.c
  tools/slidetool.c
  tools/slidetool.h
Due: autoptr, deny-prohibited

workflows: update peter-evans/create-pull-request to v7
  .github/workflows/update-check.yml
Due: none

workflows: test on Debian 12 aarch64
  .github/workflows/c.yaml
Due: none

DNM: CI test
  pyproject.toml
Due: none

meson: format with `meson format`
  common/meson.build
  doc/meson.build
  meson.build
  meson.format
  meson_options.txt
  src/meson.build
  test/meson.build
  tools/meson.build
Due: none

pre-commit: run `meson format`
  .pre-commit-config.yaml
Due: none

workflows: install PyYAML with pip on macOS
  .github/workflows/c.yaml
Due: none

test: add suppression for another fontconfig leak
  test/clang-lsan.supp
Due: none

test/driver: drop G_DEBUG=gc-friendly
  test/driver.in
Due: none

Detect and remove NULL property values
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

aperio: add helper to read directory properties into a GHashTable
  src/openslide-vendor-aperio.c
  test/cases/aperio-imagedescription-property-empty/CMU-1.svs.xdelta
  test/cases/aperio-imagedescription-property-empty/config.yaml
  test/cases/aperio-imagedescription-property-no-value/CMU-1.svs.xdelta
  test/cases/aperio-imagedescription-property-no-value/config.yaml
Due: autoptr, deny-prohibited, deny-wrapped

trestle: refactor reading of ImageDescription
  src/openslide-vendor-trestle.c
  test/cases/trestle-imagedescription-property-empty/CMU-1.tif.xdelta
  test/cases/trestle-imagedescription-property-empty/config.yaml
  test/cases/trestle-imagedescription-property-no-value/CMU-1.tif.xdelta
  test/cases/trestle-imagedescription-property-no-value/config.yaml
Due: autoptr, deny-prohibited, deny-wrapped

tiff: remove wrapper structs from ICC profile API
  src/openslide-decode-tiff.c
  src/openslide-decode-tiff.h
  src/openslide-vendor-aperio.c
  src/openslide-vendor-generic-tiff.c
  src/openslide-vendor-ventana.c
Due: autoptr, deny-prohibited, deny-wrapped

tiff: support associated image ICC profiles
  src/openslide-decode-tiff.c
  src/openslide-decode-tiff.h
  src/openslide-vendor-aperio.c
  src/openslide-vendor-leica.c
  src/openslide-vendor-philips-tiff.c
  src/openslide-vendor-ventana.c
Due: autoptr, deny-prohibited, deny-wrapped

aperio: use main image ICC profile for thumbnail if profile names match
  src/openslide-vendor-aperio.c
  test/cases/aperio-thumbnail-empty-imagedescription/CMU-1.svs.xdelta
  test/cases/aperio-thumbnail-empty-imagedescription/config.yaml
  test/cases/aperio-thumbnail-mismatched-icc-profile/CMU-1.svs.xdelta
  test/cases/aperio-thumbnail-mismatched-icc-profile/config.yaml
  test/cases/aperio/config.yaml
Due: autoptr, deny-prohibited, deny-wrapped

test/driver: drop public-read ACL from S3 bucket upload
  test/driver.in
Due: none

tests: update frozen archive
  test/cases/frozen.yaml
Due: none

Path conditions:
  autoptr: any of: \.(c|h)$, but not: ^(COPYING\.LESSER|subprojects/.*)$
  deny-prohibited: any of: \.(c|h)$ and not (^misc/) and not (^(COPYING\.LESSER|subprojects/.*)$)
  deny-wrapped: any of: ^src/openslide and \.(c|h)$ and not (^(COPYING\.LESSER|subprojects/.*)$)
