Repository openslide/openslide: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoptr, deny-prohibited, deny-wrapped

autoptr:
  name: Check for g_auto* declarations without initializers
  language: pygrep
  entry: (g_auto\(|g_autoptr\(|g_autofree )(?!.+=)

deny-prohibited:
  name: Check for calls to prohibited functions
  language: pygrep
  ...

deny-wrapped:
  name: Check for calls to wrapped functions
  language: pygrep
  ...

fix: ignore warnings and set LTALLOC_NEXT_POINTER_CHECK for libisyntax dep
  meson.build
Due: none

fix: include isynatx in openslide dep
  src/meson.build
Due: none

fix: include no error for llibisyntax
  meson.build
Due: none

Merge pull request #3 from ntrahearn/master
  src/openslide-decode-tifflike.c
  src/openslide-vendor-hamamatsu.c
Due: autoptr, deny-prohibited, deny-wrapped

fix(PPT-922): handles errors in large svs images ----------
  src/openslide-vendor-aperio.c
Due: autoptr, deny-prohibited, deny-wrapped

Update copyright string dates for 2025
  src/openslide-dll.rc.in
  src/openslide.c
  tools/openslide-quickhash1sum.1.in
  tools/openslide-show-properties.1.in
  tools/openslide-write-png.1.in
  tools/slidetool.1.in
  tools/slidetool.c
Due: autoptr, deny-prohibited, deny-wrapped

fix(PPT-775): updates to openslide-vendor.huron.c for upgrade to OpenSlide v4.0.0
  src/openslide-vendor-huron.c
Due: autoptr, deny-prohibited, deny-wrapped

Add DICOM catenation support
  meson.build
  src/openslide-vendor-dicom.c
  subprojects/libdicom.wrap
Due: autoptr, deny-prohibited, deny-wrapped

workflows: switch Ubuntu 20.04 job to container
  .github/workflows/c.yaml
Due: none

workflows: switch ARM job to publicly-available runner
  .github/workflows/c.yaml
Due: none

Slide image/property xml can be encoded as base64 string or not encoded at all
  src/openslide-decode-jpeg.c
  src/openslide-decode-jpeg.h
  src/openslide-vendor-motic.c
Due: autoptr, deny-prohibited, deny-wrapped

Optional ending \0(null bytes) are no longer allowed by xmlReadMemory in libxml2
  src/openslide-decode-xml.c
  src/openslide-decode-xml.h
  src/openslide-vendor-leica.c
  src/openslide-vendor-motic.c
  src/openslide-vendor-philips-tiff.c
  src/openslide-vendor-synthetic.c
  src/openslide-vendor-ventana.c
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-prohibited, deny-wrapped

Add remote read capability using HTTP Range requests + fetch (emscripten build only)
  meson.build
  src/openslide-decode-tifflike.c
  src/openslide-file.c
  src/openslide-vendor-aperio.c
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

Revert "Optional ending \0(null bytes) are no longer allowed by xmlReadMemory in libxml2"
  src/openslide-decode-xml.c
  src/openslide-decode-xml.h
  src/openslide-vendor-leica.c
  src/openslide-vendor-motic.c
  src/openslide-vendor-philips-tiff.c
  src/openslide-vendor-synthetic.c
  src/openslide-vendor-ventana.c
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-prohibited, deny-wrapped

Fix Windows build
  src/openslide-vendor-motic.c
Due: autoptr, deny-prohibited, deny-wrapped

Add pre-commit definition for codespell
  .pre-commit-config.yaml
Due: none

Add codespell config with some skips
  pyproject.toml
Due: none

Fix a single typo using codespell
  misc/test.c
Due: autoptr

Add Support for TeksqRay (sdpc, dyqx)
  meson.build
  src/meson.build
  src/openslide-decode-hevc.c
  src/openslide-decode-hevc.h
  src/openslide-decode-jpeg.c
  src/openslide-decode-jpeg.h
  src/openslide-private.h
  src/openslide-vendor-teksqray.c
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

Optimize memory copies
  src/openslide-decode-hevc.c
Due: autoptr, deny-prohibited, deny-wrapped

Converts YUV pixel data to BGRA format without relying on external libraries of libswscale
  meson.build
  src/meson.build
  src/openslide-decode-hevc.c
Due: autoptr, deny-prohibited, deny-wrapped

meson: convert filename arrays to files()
  common/meson.build
  src/meson.build
  tools/meson.build
Due: none

meson: drop redundant sort_files format option
  meson.format
Due: none

Implements a parallel tile reading function using OpenMP for multithreading
  src/openslide-grid.c
  src/openslide-vendor-teksqray.c
Due: autoptr, deny-prohibited, deny-wrapped

bump libdicom to v1.2.0
  meson.build
  subprojects/libdicom.wrap
  test/cases/dicom-level-bad-frame/config.yaml
  test/cases/dicom-primary-bad-metadata/config.yaml
Due: none

meson: update libdicom
  subprojects/libdicom.wrap
Due: none

meson: bump libdicom requirement to 1.2.0
  README.md
  meson.build
  subprojects/libdicom.wrap
  test/cases/dicom-level-bad-frame/config.yaml
  test/cases/dicom-primary-bad-metadata/config.yaml
Due: none

Doxyfile: update for Doxygen 1.13.2
  doc/Doxyfile.in
Due: none

test/driver: return EIO to FUSE if OSError.errno is None
  test/driver.in
Due: none

pre-commit: update versions
  .pre-commit-config.yaml
Due: none

pre-commit: minor codespell config cleanups
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Drop support for Ubuntu 20.04
  .github/workflows/c.yaml
  meson.build
  src/meson.build
Due: none

workflows: disable werror for libdicom on Fedora
  .github/workflows/c.yaml
Due: none

tifflike: drop unnecessary stack-allocated VLA
  src/openslide-decode-tifflike.c
Due: autoptr, deny-prohibited, deny-wrapped

Add DICOM catenation support
  src/openslide-vendor-dicom.c
Due: autoptr, deny-prohibited, deny-wrapped

Path conditions:
  autoptr: any of: \.(c|h)$, but not: ^(COPYING\.LESSER|subprojects/.*)$
  deny-prohibited: any of: \.(c|h)$ and not (^misc/) and not (^(COPYING\.LESSER|subprojects/.*)$)
  deny-wrapped: any of: ^src/openslide and \.(c|h)$ and not (^(COPYING\.LESSER|subprojects/.*)$)
