Repository openslide/openslide: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoptr, deny-prohibited, deny-wrapped

Path conditions:
  autoptr: any of: \.(c|h)$, but not: ^(COPYING\.LESSER|subprojects/.*)$
  deny-prohibited: any of: \.(c|h)$ and not (^misc/) and not (^(COPYING\.LESSER|subprojects/.*)$)
  deny-wrapped: any of: ^src/openslide and \.(c|h)$ and not (^(COPYING\.LESSER|subprojects/.*)$)

aperio: fix terminology for 33005 compression
  src/openslide-decode-jp2k.h
  src/openslide-vendor-aperio.c
Due: autoptr, deny-prohibited, deny-wrapped

tests: update frozen archive
  test/cases/frozen.yaml
Due: none

meson: ignore subprojects/.wraplock
  subprojects/.gitignore
Due: none

dicom: draw filename and frame number when tile debugging is enabled
  src/openslide-vendor-dicom.c
Due: autoptr, deny-prohibited, deny-wrapped

Add openslide.barcode property
  src/openslide-private.h
  src/openslide-util.c
  src/openslide-vendor-dicom.c
  src/openslide-vendor-leica.c
  src/openslide-vendor-philips-tiff.c
  src/openslide-vendor-zeiss.c
  src/openslide.h
  test/cases/dicom-tiled-sparse-jpeg/config.yaml
  test/cases/leica/config.yaml
  test/cases/philips-tiff/config.yaml
  test/cases/zeiss-czi-uncompressed-pyramidal/config.yaml
Due: autoptr, deny-prohibited, deny-wrapped

test/extended: check for opaque pixels at boundaries
  test/extended.c
Due: autoptr, deny-prohibited

Add ARGOS AVS support
  README.md
  src/meson.build
  src/openslide-private.h
  src/openslide-vendor-argos.c
  src/openslide.c
  test/cases/argos-stacked/config.yaml
  test/cases/argos-xml-bad-minz/Argos-1.avs.xdelta
  test/cases/argos-xml-bad-minz/config.yaml
  test/cases/argos-xml-no-maxz/Argos-1.avs.xdelta
  test/cases/argos-xml-no-maxz/config.yaml
  test/cases/argos-xml-no-stacks/Argos-1.avs.xdelta
  test/cases/argos-xml-no-stacks/config.yaml
  test/cases/argos-xml-too-many-stacks/Argos-1.avs.xdelta
  test/cases/argos-xml-too-many-stacks/config.yaml
  test/cases/argos/config.yaml
  test/cases/mosaic.ini
  test/cases/slides.yaml
Due: autoptr, deny-prohibited, deny-wrapped

dicom: switch to dcm_filehandle_find_frame_number()
  README.md
  meson.build
  src/openslide-vendor-dicom.c
  subprojects/libdicom.wrap
Due: autoptr, deny-prohibited, deny-wrapped

meson: show explanatory message if cjpeg/djpeg/xdelta3 aren't found
  test/meson.build
Due: none

Doxyfile: update for Doxygen 1.16.1
  doc/Doxyfile.in
Due: none

ventana: avoid explicit free of GStrv
  src/openslide-vendor-ventana.c
Due: autoptr, deny-prohibited, deny-wrapped

ventana: fail if area has invalid tile count
  src/openslide-vendor-ventana.c
  test/cases/ventana-encodeinfo-imageinfo-negative-rows/OS-2.bif.xdelta
  test/cases/ventana-encodeinfo-imageinfo-negative-rows/config.yaml
Due: autoptr, deny-prohibited, deny-wrapped

tools: avoid left shift into sign bit when unpremultiplying for PNG
  tools/slidetool-image.c
Due: autoptr, deny-prohibited

test/driver: move TestCase result formatting into Test
  test/driver.py
Due: none

test/driver: support testing slidetool subcommands
  test/driver.py
Due: none

test/driver: add Test superclass to allow non-case-based tests
  test/driver.py
Due: none

workflows: switch release job back to ubuntu-latest
  .github/workflows/c.yaml
Due: none

Update for release
  CHANGELOG.md
  meson.build
Due: none

util: replace GRegex preprocessing with manual scan
  src/openslide-util.c
Due: autoptr, deny-prohibited, deny-wrapped

maintainer/release: automatically sync release table and docs
  .github/maintainer/README.md
  .github/maintainer/release.md
Due: none

doc: drop references/referenced-by lines in function descriptions
  doc/Doxyfile.in
Due: none

meson: expand description of -Dtest
  meson_options.txt
Due: none

tools: fix `slidetool test deps` on Windows
  tools/slidetool-test.c
Due: autoptr, deny-prohibited

README: drop .tif file extension for Aperio
  README.md
Due: none

workflows: switch Ubuntu 26.04 to GitHub runner image
  .github/workflows/c.yaml
Due: none

ventana: handle LEFT and DOWN joint directions
  src/openslide-vendor-ventana.c
Due: autoptr, deny-prohibited, deny-wrapped

CHANGELOG: add CVE number to libtiff 4.7.1 fix
  CHANGELOG.md
Due: none

util: don't use a regex when ignoring empty MIRAX Slidedat.ini keys
  src/openslide-util.c
  test/cases/frozen.yaml
  test/cases/mirax-slidedat-empty-keys.2/Slidedat.ini.xdelta
  test/cases/mirax-slidedat-empty-keys.2/config.yaml
  test/cases/mirax-slidedat-empty-keys/Slidedat.ini.xdelta
Due: autoptr, deny-prohibited, deny-wrapped

meson: update xdelta3 wrap
  subprojects/.gitignore
  subprojects/xdelta3.wrap
Due: none

meson: clarify description for doc option
  meson_options.txt
Due: none

meson: drop uthash wrap
  meson.build
  subprojects/.gitignore
  subprojects/uthash.wrap
Due: none

workflows: skip vcpkg-cache workflow in forks
  .github/workflows/vcpkg-cache.yml
Due: none

workflows: rebuild vcpkg cache once upon PR
  .github/workflows/c.yaml
  .github/workflows/vcpkg-cache.yml
Due: none

workflows: prune old vcpkg package versions once a month
  .github/workflows/vcpkg-prune.yml
  scripts/vcpkg-prune.py
Due: none

scripts: fix execute bit
  scripts/vcpkg-prune.py
Due: none

workflows: convert vcpkg-cache from pull_request_target to workflow_run
  .github/workflows/vcpkg-cache.yml
Due: none

workflows: reduce initial delay waiting for vcpkg cache
  .github/workflows/c.yaml
Due: none

workflows: run vcpkg-prune with unbuffered stdout
  .github/workflows/vcpkg-prune.yml
Due: none
