Repository openslide/openslide: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoptr, deny-prohibited, deny-wrapped

autoptr:
  name: Check for g_auto* declarations without initializers
  language: pygrep
  entry: (g_auto\(|g_autoptr\(|g_autofree )(?!.+=)

deny-prohibited:
  name: Check for calls to prohibited functions
  language: pygrep
  ...

deny-wrapped:
  name: Check for calls to wrapped functions
  language: pygrep
  ...

pre-commit: update versions
  .pre-commit-config.yaml
Due: none

Version bumps for Python 3.13
  .github/workflows/c.yaml
  pyproject.toml
Due: none

test/driver: avoid functions/arguments missing from Python 3.8
  test/driver.in
Due: none

pyproject: configure mypy for Python 3.8+
  pyproject.toml
Due: none

workflows: update dependencies for Fedora 41
  .github/workflows/c.yaml
Due: none

Doxyfile: update for Doxygen 1.12.0
  doc/Doxyfile.in
Due: none

seperate pixel format convert functions to share with jxr decoder
  src/openslide-image.c
  src/openslide-image.h
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-prohibited, deny-wrapped

add JXR support
  meson.build
  src/meson.build
  src/openslide-decode-jxr.c
  src/openslide-decode-jxr.h
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-prohibited, deny-wrapped

parse image data start position
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-prohibited, deny-wrapped

add JXR to CI
  .github/workflows/c.yaml
Due: none

parse ZEN software version
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-prohibited, deny-wrapped

add Zeiss-5-JXR.czi to test cases
  test/cases/slides.yaml
  test/cases/zeiss-czi-jxr/config.yaml
Due: none

verify JXR tile size if the CZI is from old ZEN software
  src/openslide-decode-jxr.c
  src/openslide-decode-jxr.h
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-prohibited, deny-wrapped

silence control flow integrity check error in sanitize test
  test/clang.supp
Due: none

fix bug in subblock data offset calculation
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-prohibited, deny-wrapped

ignore B dimension
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-prohibited, deny-wrapped

add JXR compressed 48bits RGB image to test
  test/cases/mosaic.ini
  test/cases/slides.yaml
  test/cases/zeiss-czi-jxr-48bits/config.yaml
Due: none

fix: wrong length in error when fail to allocate JXR decoding buffer
  src/openslide-decode-jxr.c
Due: autoptr, deny-prohibited, deny-wrapped

fix CI windows Binaries build error when failed to detect jxrlib
  meson.build
  src/openslide-decode-jxr.c
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-prohibited, deny-wrapped

fix CI meson format and fedora missing jxrlib error after rebase
  .github/workflows/c.yaml
  meson.build
Due: none

Use integer-valued `cairo_translate()` for performance and image quality
  src/openslide-grid.c
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

Preserve floating-point precision when mapping areas to and from level 0
  src/openslide-private.h
  src/openslide-vendor-aperio.c
  src/openslide-vendor-dicom.c
  src/openslide-vendor-generic-tiff.c
  src/openslide-vendor-hamamatsu.c
  src/openslide-vendor-leica.c
  src/openslide-vendor-mirax.c
  src/openslide-vendor-philips-tiff.c
  src/openslide-vendor-sakura.c
  src/openslide-vendor-synthetic.c
  src/openslide-vendor-trestle.c
  src/openslide-vendor-ventana.c
  src/openslide-vendor-zeiss.c
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

Only round down when value is halfway, otherwise round to closest integer
  src/openslide-grid.c
Due: autoptr, deny-prohibited, deny-wrapped

Add missing math.h
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

Added libisyntax submodule
  .gitmodules
Due: none

Expose isyntax associated images in OpenSlide.
  src/openslide-vendor-philips-isyntax.c
Due: autoptr, deny-prohibited, deny-wrapped

Format changes only. Reformat file to 2 spaces, make function parameters on separate lines.
  src/openslide-vendor-philips-isyntax.c
Due: autoptr, deny-prohibited, deny-wrapped

Better error handling.
  src/openslide-vendor-philips-isyntax.c
Due: autoptr, deny-prohibited, deny-wrapped

fix: remove vendor philips for philips tiff
  src/meson.build
  src/openslide-private.h
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

Implementation of openslide-vendor-philips-isyntax.c using libisyntax C api.
  src/meson.build
  src/openslide-private.h
  src/openslide-vendor-philips-isyntax.c
  src/openslide.c
Due: autoptr, deny-prohibited, deny-wrapped

First batch of changes to address comments from the PR.
  src/openslide-vendor-philips-isyntax.c
Due: autoptr, deny-prohibited, deny-wrapped

Disable use of CAIRO_OPERATOR_OVER
  src/openslide-vendor-philips-isyntax.c
Due: autoptr, deny-prohibited, deny-wrapped

Added _openslide_hash_disable(quickhash1).
  src/openslide-vendor-philips-isyntax.c
Due: autoptr, deny-prohibited, deny-wrapped

Fix associated image dimensions printing.
  tools/openslide-write-associated-images.c
Due: autoptr, deny-prohibited

Update openslide-vendor-philips-isyntax to latest libisyntax.
  src/openslide-vendor-philips-isyntax.c
Due: autoptr, deny-prohibited, deny-wrapped

Add a tool to query and write associated images.
  tools/meson.build
  tools/openslide-write-associated-images.1.in
  tools/openslide-write-associated-images.c
Due: autoptr, deny-prohibited

feat: include isyntax wrap
  .gitmodules
  src/meson.build
  src/openslide-vendor-philips-isyntax.c
  subprojects/libisyntax.wrap
Due: autoptr, deny-prohibited, deny-wrapped

fix: include insyntax dep
  meson.build
Due: none

Path conditions:
  autoptr: any of: \.(c|h)$, but not: ^(COPYING\.LESSER|subprojects/.*)$
  deny-prohibited: any of: \.(c|h)$ and not (^misc/) and not (^(COPYING\.LESSER|subprojects/.*)$)
  deny-wrapped: any of: ^src/openslide and \.(c|h)$ and not (^(COPYING\.LESSER|subprojects/.*)$)
