Repository openslide/openslide: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoptr, deny-prohibited, deny-wrapped

Path conditions:
  autoptr: any of: \.(c|h)$, but not: ^(COPYING\.LESSER|subprojects/.*)$
  deny-prohibited: any of: \.(c|h)$ and not (^misc/) and not (^(COPYING\.LESSER|subprojects/.*)$)
  deny-wrapped: any of: ^src/openslide and \.(c|h)$ and not (^(COPYING\.LESSER|subprojects/.*)$)

hamamatsu: check NDPI_MCU_STARTS_HIGH value count and successful read
  src/openslide-vendor-hamamatsu.c
Due: autoptr, deny-prohibited, deny-wrapped

tifflike: read NDPI value extensions all at once
  src/openslide-decode-tifflike.c
Due: autoptr, deny-prohibited, deny-wrapped

misc/tiff-delete-tag: port to Python 3
  misc/tiff-delete-tag.py
Due: none

tifflike: minor cleanups
  src/openslide-decode-tifflike.c
Due: autoptr, deny-prohibited, deny-wrapped

test/cases: fix cases broken by NDPI value extension support
  misc/tiff-delete-tag.py
  test/cases/hamamatsu-ndpi-no-focal-plane.2/CMU-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-no-focal-plane.2/config.yaml
  test/cases/hamamatsu-ndpi-no-focal-plane/CMU-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-no-mcu-starts.2/CMU-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-no-mcu-starts.2/config.yaml
  test/cases/hamamatsu-ndpi-no-mcu-starts/CMU-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-no-resolutionunit.2/CMU-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-no-resolutionunit.2/config.yaml
  test/cases/hamamatsu-ndpi-no-resolutionunit/CMU-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-no-sourcelens.2/CMU-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-no-sourcelens.2/config.yaml
  test/cases/hamamatsu-ndpi-no-sourcelens/CMU-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-tiff-bad-directory-entry/CMU-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-tiff-bad-directory-entry/config.yaml
  test/cases/hamamatsu-ndpi-tiff-no-next-directory-offset/config.yaml
Due: none

test/cases: add tests for NDPI file with 4+ GiB bottom level
  .pre-commit-config.yaml
  test/cases/hamamatsu-ndpi-bad-mcu-starts-high/Hamamatsu-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-bad-mcu-starts-high/config.yaml
  test/cases/hamamatsu-ndpi-large/config.yaml
  test/cases/mosaic.ini
  test/cases/slides.yaml
Due: none

tifflike: perform NDPI value extension only on specific field types
  src/openslide-decode-tifflike.c
Due: autoptr, deny-prohibited, deny-wrapped

tests: update frozen archive
  test/cases/frozen.yaml
Due: none

test/mosaic: expand matrix to six columns
  test/mosaic.c
Due: autoptr, deny-prohibited

tifflike: break long lines in debug dump
  src/openslide-decode-tifflike.c
Due: autoptr, deny-prohibited, deny-wrapped

hamamatsu: break out reading of NDPI MCU starts; improve error reporting
  src/openslide-vendor-hamamatsu.c
Due: autoptr, deny-prohibited, deny-wrapped

test: add performance debug flag to primary Hamamatsu tests
  test/cases/hamamatsu-ndpi-2012/config.yaml
  test/cases/hamamatsu-ndpi-large/config.yaml
  test/cases/hamamatsu-ndpi-small/config.yaml
  test/cases/hamamatsu-ndpi/config.yaml
  test/cases/hamamatsu-vms/config.yaml
  test/driver.py
Due: none

hamamatsu: fix comment leak after validate_jpeg_header() failure
  src/openslide-vendor-hamamatsu.c
Due: autoptr, deny-prohibited, deny-wrapped

Use g_new() to allocate arrays with elements larger than 1
  src/openslide-decode-png.c
  src/openslide-vendor-aperio.c
  src/openslide-vendor-dicom.c
  src/openslide-vendor-generic-tiff.c
  src/openslide-vendor-hamamatsu.c
  src/openslide-vendor-leica.c
  src/openslide-vendor-mirax.c
  src/openslide-vendor-philips-tiff.c
  src/openslide-vendor-sakura.c
  src/openslide-vendor-trestle.c
  src/openslide-vendor-ventana.c
  src/openslide-vendor-zeiss.c
  test/extended.c
  test/mosaic.c
  test/parallel.c
  test/try_open.c
  tools/slidetool-image.c
  tools/slidetool-test.c
Due: autoptr, deny-prohibited, deny-wrapped

hamamatsu: validate strip count instead of rows per strip
  src/openslide-vendor-hamamatsu.c
  test/cases/frozen.yaml
  test/cases/hamamatsu-ndpi-bad-rows-per-strip/CMU-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-bad-strip-offsets-count/CMU-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-bad-strip-offsets-count/config.yaml
  test/cases/hamamatsu-ndpi-no-rows-per-strip/CMU-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-no-rows-per-strip/config.yaml
Due: autoptr, deny-prohibited, deny-wrapped

hamamatsu: store offsets of SOF and SOS within JPEG header
  src/openslide-vendor-hamamatsu.c
Due: autoptr, deny-prohibited, deny-wrapped

hamamatsu: don't reread JPEG header on every tile access
  src/openslide-vendor-hamamatsu.c
  test/cases/frozen.yaml
  test/cases/hamamatsu-vms-jpeg-bad-marker-length/CMU-1-40x - 2010-01-12 13.24.05_map2.jpg.xdelta
  test/cases/hamamatsu-vms-jpeg-bad-marker-length/config.yaml
  test/cases/hamamatsu-vms-jpeg-truncated-header-2/CMU-1-40x - 2010-01-12 13.24.05.jpg.xdelta
  test/cases/hamamatsu-vms-jpeg-truncated-header/config.yaml
Due: autoptr, deny-prohibited, deny-wrapped

hamamatsu: compare JPEG and TIFF dimensions for non-tiled NDPI levels
  src/openslide-vendor-hamamatsu.c
  test/cases/hamamatsu-ndpi-bad-image-dimension-nontiled/CMU-1.ndpi.xdelta
  test/cases/hamamatsu-ndpi-bad-image-dimension-nontiled/config.yaml
Due: autoptr, deny-prohibited, deny-wrapped

hamamatsu: use JPEG dimensions for non-tiled NDPI levels
  src/openslide-vendor-hamamatsu.c
  test/cases/frozen.yaml
  test/cases/hamamatsu-ndpi-bad-image-dimension-nontiled/config.yaml
Due: autoptr, deny-prohibited, deny-wrapped

test/cases: check for associated images in all primary tests
  test/cases/aperio-33003/config.yaml
  test/cases/aperio-33005/config.yaml
  test/cases/aperio-small-region/config.yaml
  test/cases/aperio/config.yaml
  test/cases/dicom-tiled-full-jp2k-rgb/config.yaml
  test/cases/dicom-tiled-full-jp2k-ycbcr/config.yaml
  test/cases/dicom-tiled-full-jpeg/config.yaml
  test/cases/dicom-tiled-sparse-jpeg/config.yaml
  test/cases/hamamatsu-ndpi-2012/config.yaml
  test/cases/hamamatsu-ndpi-large/config.yaml
  test/cases/hamamatsu-ndpi-small/config.yaml
  test/cases/hamamatsu-ndpi/config.yaml
  test/cases/hamamatsu-vms/config.yaml
  test/cases/leica-multiple-regions/config.yaml
  test/cases/leica/config.yaml
  test/cases/mirax-2.2/config.yaml
  test/cases/mirax-bmp/config.yaml
  test/cases/mirax-downsampled-1-16/config.yaml
  test/cases/mirax-downsampled-1-2/config.yaml
  test/cases/mirax-png/config.yaml
  test/cases/mirax/config.yaml
  test/cases/trestle/config.yaml
  test/cases/ventana/config.yaml
  test/cases/zeiss-czi-uncompressed-pyramidal/config.yaml
  test/cases/zeiss-czi-zstd0-flat/config.yaml
  test/cases/zeiss-czi-zstd1-flat/config.yaml
  test/cases/zeiss-czi-zstd1-hilo-flat/config.yaml
Due: none

aperio: detect label and macro images via subfile type
  src/openslide-vendor-aperio.c
  test/cases/aperio-label-bad-imagedescription/CMU-1.svs.xdelta
  test/cases/aperio-label-bad-subfile-type/CMU-1.svs.xdelta
  test/cases/aperio-label-bad-subfile-type/config.yaml
  test/cases/aperio-label-no-imagedescription/CMU-1.svs.xdelta
  test/cases/aperio-label-no-subfile-type/CMU-1.svs.xdelta
  test/cases/aperio-label-no-subfile-type/config.yaml
Due: autoptr, deny-prohibited, deny-wrapped

aperio: allow thumbnails to omit ImageDescription
  src/openslide-vendor-aperio.c
  test/cases/aperio-thumbnail-no-imagedescription/CMU-1.svs.xdelta
  test/cases/aperio-thumbnail-no-imagedescription/config.yaml
Due: autoptr, deny-prohibited, deny-wrapped

fix: V-001 security vulnerability
  misc/read-region.c
Due: autoptr

fix: add buffer-length check in read-region.c
  tests/test_invariant_read-region.c
Due: autoptr, deny-prohibited

Update copyright string dates for 2026
  src/openslide-dll.rc.in
  src/openslide.c
  tools/openslide-quickhash1sum.1.in
  tools/openslide-show-properties.1.in
  tools/openslide-write-png.1.in
  tools/slidetool.1.in
  tools/slidetool.c
Due: autoptr, deny-prohibited, deny-wrapped

test/cases: consistently use ~ for null values
  test/cases/empty-file/config.yaml
  test/cases/generic-tiff-directory-loop/config.yaml
  test/cases/generic-tiff-no-directories/config.yaml
  test/cases/generic-tiff-resolution-zero-denominator/config.yaml
  test/cases/generic-tiff-resolution-zero-numerator/config.yaml
  test/cases/hamamatsu-ndpi-no-format-flag/config.yaml
  test/cases/hamamatsu-ndpi-tiff-bad-bigtiff-header/config.yaml
  test/cases/hamamatsu-ndpi-tiff-bad-field-type/config.yaml
  test/cases/hamamatsu-ndpi-tiff-bad-header/config.yaml
  test/cases/hamamatsu-ndpi-tiff-bad-magic/config.yaml
  test/cases/hamamatsu-ndpi-tiff-bad-resolution-unit/config.yaml
  test/cases/hamamatsu-ndpi-tiff-bad-version/config.yaml
  test/cases/hamamatsu-ndpi-tiff-no-directory-count/config.yaml
  test/cases/hamamatsu-ndpi-tiff-no-magic/config.yaml
  test/cases/hamamatsu-ndpi-tiff-no-next-directory-offset/config.yaml
  test/cases/hamamatsu-ndpi-tiff-no-value-offset/config.yaml
  test/cases/hamamatsu-vms-vms-bad-group/config.yaml
  test/cases/hamamatsu-vms-vms-bad-physicalheight/config.yaml
  test/cases/hamamatsu-vms-vms-bad-rows/config.yaml
  test/cases/hamamatsu-vms-vms-large-256KB/config.yaml
  test/cases/hamamatsu-vms-vms-large-nearly-4GB/config.yaml
  test/cases/hamamatsu-vms-vms-no-cols/config.yaml
  test/cases/hamamatsu-vms-vms-no-physicalwidth/config.yaml
  test/cases/leica-tiff-bad-value-count/config.yaml
  test/cases/leica-tiff-directory-bad-offset/config.yaml
  test/cases/mirax-mrxs-missing/config.yaml
  test/cases/mirax-slidedat-missing/config.yaml
  test/cases/nonexistent-file/config.yaml
  test/cases/synthetic-disabled/config.yaml
  test/cases/untiled-tiff/config.yaml
Due: none

test/cases: add some additional required-missing properties
  test/cases/aperio-label-bad-subfile-type/config.yaml
  test/cases/aperio-label-no-subfile-type/config.yaml
  test/cases/aperio-thumbnail-no-imagedescription/config.yaml
  test/cases/hamamatsu-vms-macro-missing/config.yaml
  test/cases/hamamatsu-vms-vms-blank-macro/config.yaml
  test/cases/leica-xml-no-macro-image/config.yaml
  test/cases/philips-tiff-associated-xml-bad-jpeg/config.yaml
  test/cases/trestle-no-associated-images/config.yaml
Due: none

test/cases: drop unused error message check
  test/cases/hamamatsu-ndpi-bad-image-dimension-nontiled/config.yaml
Due: none

test: distinguish between missing and empty properties
  test/cases/aperio-thumbnail-empty-imagedescription/config.yaml
  test/cases/aperio-thumbnail-mismatched-icc-profile/config.yaml
  test/driver.py
  test/try_open.c
Due: autoptr, deny-prohibited

test/try_open: switch to `-n NULL` for requiring a NULL vendor
  test/driver.py
  test/try_open.c
Due: autoptr, deny-prohibited

Add Huron driver
  README.md
  src/meson.build
  src/openslide-private.h
  src/openslide-vendor-huron.c
  src/openslide.c
  test/cases/frozen.yaml
  test/cases/huron-bad-compression/Huron-1.tif.xdelta
  test/cases/huron-bad-compression/config.yaml
  test/cases/huron-imagedescription-property-empty/Huron-1.tif.xdelta
  test/cases/huron-imagedescription-property-empty/config.yaml
  test/cases/huron-imagedescription-property-no-value/Huron-1.tif.xdelta
  test/cases/huron-imagedescription-property-no-value/config.yaml
  test/cases/huron-label-bad-subfile-type/Huron-1.tif.xdelta
  test/cases/huron-label-bad-subfile-type/config.yaml
  test/cases/huron-label-no-subfile-type/Huron-1.tif.xdelta
  test/cases/huron-label-no-subfile-type/config.yaml
  test/cases/huron-no-imagedescription/Huron-1.tif.xdelta
  test/cases/huron-no-imagedescription/config.yaml
  test/cases/huron-uncompressed/config.yaml
  test/cases/huron/config.yaml
  test/cases/mosaic.ini
  test/cases/slides.yaml
Due: autoptr, deny-prohibited, deny-wrapped

test/cases: skip Huron tests on older libtiff without log callbacks
  test/cases/huron-bad-compression/config.yaml
  test/cases/huron-imagedescription-property-empty/config.yaml
  test/cases/huron-imagedescription-property-no-value/config.yaml
  test/cases/huron-label-bad-subfile-type/config.yaml
  test/cases/huron-label-no-subfile-type/config.yaml
  test/cases/huron-no-imagedescription/config.yaml
  test/cases/huron-uncompressed/config.yaml
  test/cases/huron/config.yaml
Due: none

misc/imhex/hamamatsu-ndpi: add some additional tags
  misc/imhex/hamamatsu-ndpi.hexpat
Due: none

test: add 2026 NDPI scan
  test/cases/hamamatsu-ndpi-2026/config.yaml
  test/cases/mosaic.ini
  test/cases/slides.yaml
Due: none

hamamatsu: assume NDPI ASCII values are always stored out-of-line
  misc/imhex/hamamatsu-ndpi.hexpat
  src/openslide-decode-tifflike.c
  test/cases/hamamatsu-ndpi-2026/config.yaml
Due: autoptr, deny-prohibited, deny-wrapped

huron: assert if we don't add any levels
  src/openslide-vendor-huron.c
Due: autoptr, deny-prohibited, deny-wrapped

Add helper function to duplicate and scale double property
  src/openslide-private.h
  src/openslide-util.c
  src/openslide-vendor-zeiss.c
Due: autoptr, deny-prohibited, deny-wrapped

dicom: copy objective power and MPP from vendor properties; unswap MPP
  src/openslide-vendor-dicom.c
Due: autoptr, deny-prohibited, deny-wrapped

util: drop obsolete comment
  src/openslide-util.c
Due: autoptr, deny-prohibited, deny-wrapped
